[submodule "mdbm"]
	path = mdbm
	url = https://github.com/yahoo/mdbm.git
[submodule "ck"]
	path = ck
	url = https://github.com/concurrencykit/ck.git
[submodule "http-parser"]
	path = http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "jemalloc"]
	path = jemalloc
	url = https://github.com/jemalloc/jemalloc.git
